@font-face {
  font-family: OpenSansConde;
  src: url("assets/open-sans-condensed.bold.ttf");
}

:root {
  margin: 0px;
  padding: 0px;
  font-family: OpenSansConde, "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
    background-color: #f5f5f5;
}

main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

button {
  margin: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3fae7f;
  color: #fff;
  padding: 8px 12px 8px 16px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  background-color: #1f553f;
}
.section-cart{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  min-width: 250px;  
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0px #dbdbdb;
}
.section-menu{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  width: fit-content;
  min-height: min-content;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0px #dbdbdb;
}
.titleSection {
  font-size: 2rem;
  color: #3fae7f;
  padding-top: 10px;
  padding-left: 4%;
}

.gallery-menu {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
.card-menu {
  width: 18rem;
  height: 17rem;
  border: 1px solid #7070701f;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.card-menu-info {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 1rem;
  justify-content: space-between;
}

.card-menu-img{
  width: 100%;
  height: 45%;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}

.card-menu-title {
  font-size: 1.5rem;
  margin: 0;
}

.card-menu-det {
  margin: 0;
  color: gray;
  
}
.cardPizza .containInfo button {
  border-radius: 50px;
}
.cardPizza .containInfo button:hover {
  background-color: #1f553f;
}


.containInfo {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}


/* CardCArt */
.element-cart {
  width: 200px;
  margin: 0;
  border-bottom: solid 2px #dfdfdf;
}
.element-qty-cart {
  display: flex;
  align-items: center;
  gap: 5px;
}
.element-qty-cart button {
  color: #3fae7f;
  border: solid 1px #3fae7f;
  border-radius: 100%;
  max-height: 30px;
  max-width: 30px;
  background-color: #fff;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.element-qty-cart button:hover {
  color: #fff;
  background-color: #3fae7f;
}
.title-element-cart {
  display: flex;
  justify-content: space-between;
}
.element-cart > p {
  text-align: right;
  margin: 0;
  color: #3fae7f;
}

/* DETAILS PIZZA */
.btn-Volver {
  color: #3fae7f;
}
.card-pizza-details {
  width: 70rem;
  height: 30rem;
  display: flex;
}
.card-pizza-details img {
  width: 25%;
  height: 100%;
  object-fit: cover;
}
.card-pizza-details h3,
h2 {
  margin: 0;
  color: #3fae7f;
  font-size: 2rem;
}
.containInfo {
  max-width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.card-pizza-details .secction-size {
  display: flex;
  gap: 10px;
}
.card-pizza-details .inp-pizza {
  border: solid 1px #3fae7f;
  width: 8rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-pizza-details .inp-pizza:hover {
  background-color: #3fae7f;
  color: #fff;
  cursor: pointer;
}
.card-pizza-details .inp-pizza p {
  margin: 0;
}
.inp-select {
  background-color: #3fae7f;
  color: #fff;
}
.inp-no-select {
  background-color: #fff;
}
.Section-addCart {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
.total-Order {
  color: #3fae7f;
  font-size: 2rem;
}
.Section-addCart button {
  height: 3rem;
}
header{
  min-height:80px ;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;

}
header .inp-searcher{
  flex-grow: 1;
  background-color:  #ffffff;
  border-radius: 4px;
  height: 60px;
  box-shadow: 1px 1px 4px 0px #dbdbdb;
  
}
header input{
  border: none;
  border-radius: 4px;
  font-size: 16px;
  height: 100%;
  width: 100%;
  padding: 20px;
}
header input:focus{
  border: 1px solid #3fae7f;
}

.card-address{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 220px;
  height: 40px;
  color:#717171;
  background-color: #fff;
  padding: 10px 40px 10px 15px;
  box-shadow: 1px 1px 4px 0px #dbdbdb;
}
.card-address p{
  margin: 0;
}
.card-address h6{
  margin: 0;
}
.btn-cart{
  height: 60px;
  width: 60px;
  position: relative;
}
.num-cart{
  height: 20px;
  width: 20px;
  top: -10px;
  right:0;
  background-color: #1f553f;
  position: absolute;
  border: #ffffff solid 2px;
  border-radius: 100%;
  padding: 2px;
}