@font-face {
    font-family: OpenSansConde;
    src: url("assets/open-sans-condensed.bold.ttf");
}
:root{
    margin: 0;
    padding: 0;
    font-family: OpenSansConde, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cardPizza{
    width: 18rem;
    height: 18rem;
    border: 0.5px solid #7070701f;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0;
}
.cardPizza img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.cardPizza h3{
    font-size: 1.5rem;
}

.cardPizza p {
    color: gray;
}
