@font-face {
  font-family: OpenSansConde;
  src: url("assets/open-sans-condensed.bold.ttf");
}
:root {
  margin: 0;
  padding: 0;
  font-family: OpenSansConde, "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
}
button {
  margin: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3fae7f;
  color: #fff;
  padding: 8px 12px 8px 16px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  background-color: #1f553f;
}
.titleSection {
  font-size: 2rem;
}
.galleryPizzas {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.cardPizza {
  width: 18rem;
  height: 16rem;
  border: 1px solid #7070701f;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.containInfo {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.cardPizza img {
  width: 100%;
  height: 45%;
  object-fit: cover;
}

.cardPizza .containInfo h3 {
  font-size: 1.5rem;
  margin: 0;
}

.cardPizza .containInfo p {
  margin: 0;
  color: gray;
  margin-bottom: 0.8rem;
}
.cardPizza .containInfo button {
  border-radius: 50px;
}
.cardPizza .containInfo button:hover {
  background-color: #1f553f;
}

.cardPizza {
  width: 18rem;
  height: 16rem;
  border: 1px solid #7070701f;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.containInfo {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.cardPizza img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
/* CARD ADD CART */
.cardPizza .containInfo h3 {
  font-size: 1.5rem;
  margin: 0;
}

.cardPizza .containInfo p {
  margin: 0;
  color: gray;
  margin-bottom: 0.8rem;
}
.cardPizza .containInfo button {
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: #3fae7f;
  color: #fff;
  border-radius: 50px;
  padding: 8px 12px 8px 16px;
  font-size: 0.9rem;
}
.cardPizza .containInfo button:hover {
  background-color: #1f553f;
}

/* CardCArt */
.element-cart {
  width: 200px;
  margin: 0;
  border-bottom: solid 2px #dfdfdf;
}
.element-qty-cart {
  display: flex;
  align-items: center;
  gap: 5px;
}
.element-qty-cart button {
  color: #3fae7f;
  border: solid 1px #3fae7f;
  border-radius: 100%;
  max-height: 30px;
  max-width: 30px;
  background-color: #fff;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.element-qty-cart button:hover {
  color: #fff;
  background-color: #3fae7f;
}
.title-element-cart {
  display: flex;
  justify-content: space-between;
}
.element-cart > p {
  text-align: right;
  margin: 0;
  color: #3fae7f;
}

/* DETAILS PIZZA */
.btn-Volver {
  color: #3fae7f;
}
.card-pizza-details {
  width: 80rem;
  height: 30rem;

  display: flex;
}
.card-pizza-details img {
  width: 25%;
  height: 100%;
  object-fit: cover;
}
.card-pizza-details h3,
h2 {
  margin: 0;
  color: #3fae7f;
  font-size: 2rem;
}
.containInfo {
  max-width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-pizza-details .secction-size {
  display: flex;
  gap: 10px;
}
.card-pizza-details .inp-pizza {
  border: solid 1px #3fae7f;
  width: 8rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-pizza-details .inp-pizza:hover {
  background-color: #3fae7f;
  color: #fff;
  cursor: pointer;
}
.card-pizza-details .inp-pizza p {
  margin: 0;
}
.inp-select {
  background-color: #3fae7f;
  color: #fff;
}
.inp-no-select {
  background-color: #fff;
}
.Section-addCart {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
.total-Order {
  color: #3fae7f;
  font-size: 2rem;
}
.Section-addCart button {
  height: 3rem;
}
